:root {
  --primary-color: #ffa7a6;
  --secondary-color: #f8f8f8;
  --headind-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --default-shadow-box: -5px 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
  margin: 100px 50px;
}

.hero {
  background-color: #ffe4e4;
}

p {
  font-size: 18px;
  color: rgb(90, 88, 88);
  margin: 0;
  line-height: 30px;
}

h1,
h2,
h3 {
  font-family: var(--headind-font-family);
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

.btn-branding {
  background-color: var(--secondary-color);
}

.btn-branding-secondary {
  background-color: var(--primary-color);
}

.btn-branding-secondary,
.btn-branding {
  padding: 12px 40px;
  margin: 15px 20px;
  box-shadow: var(--default-shadow-box);
}

.btn:hover {
  background-color: var(--secondary-color);
}

.profile-photo {
  width: 260px;
}

.description-homepage {
  padding: 0 190px;
}

.about-section {
  padding: 120px 16px;
}

.container {
  padding: 20px;
}

@media (max-width: 768px) {
  .description-homepage {
    padding: 0px;
  }
}
