:root {
  --primary-color: #fcd1d0;
  --secondary-color: #f8f8f8;
  --tertiary-color: #fdb1b0;
  --headind-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --default-shadow-box: -2px 9px 19px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}

.container-content {
  margin-top: 90px;
  margin-bottom: 120px;
}

.bg-branding {
  background-color: var(--primary-color);
}

.hero,
.projects {
  background-color: var(--primary-color);
}

.profile-photo-about {
  width: 400px;
}

.nav-item {
  padding: 0 10px;
}

p ul {
  font-size: 16px;
  color: rgb(90, 88, 88);
  margin: 0;
  line-height: 30px;
}

h1,
h2,
h3 {
  font-family: var(--headind-font-family);
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

.projects h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  color: rgb(58, 57, 57);
}

.btn-branding {
  background-color: var(--secondary-color);
}

.btn-branding-secondary,
.btn-branding {
  padding: 12px 40px;
  margin: 15px 20px;
  box-shadow: var(--default-shadow-box);
}

.btn:hover {
  background-color: rgb(10, 173, 165);
}

.profile-photo {
  width: 260px;
}

.description-homepage {
  padding: 0 100px;
}

.subtlitle-about {
  font-weight: 600;
}
mark:hover {
  background-color: rgb(254, 255, 211);
  cursor: pointer;
}
.underline-decoration {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

figure img {
  width: 80px;
}

figure img:hover {
  padding: 10px 40px;
  overflow: hidden;
}

.card {
  border-radius: 20px;
  box-shadow: var(--default-shadow-box);
}

.card-img-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.card-img-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

@media (max-width: 768px) {
  .description-homepage {
    padding: 0px;
  }
  .profile-photo-about {
    width: 250px;
    margin: 20px 0;
  }

  .container {
    text-align: center;
  }

  ul {
    list-style-position: inside;
  }
  .card-img-right {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }

  .card-img-left {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
}
